
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&family=Pacifico&family=Roboto+Slab:wght@400;500;600;800&display=swap');

.card-comic{
    border: solid 1px;
    margin: 0 auto;
    border-radius: 18px;
    position: relative;
}

.image{
    margin: auto;
    cursor: pointer;
}

.image figure {
    margin: auto 0;
	padding: 5px;
	background: #fff;
	overflow: hidden;
    border-radius: 15px;
}
.image  figure img{
    border-radius: 15px;
    width: 100%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}
.card-comic:hover .image figure img{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
    
}

.Name{
    position: relative;
    margin: auto 5px;
    margin-bottom: 10px;
    top: 10px;
    border-radius: 10px;
    background-color: #DADADA;
    cursor: pointer;
}
.Name p {
    padding-top: 4px;
    padding-left: 5px;
    font-size: 13pt;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}
.chapter{
    display: none;
    
    
}

.card-comic:hover .chapter {
    display: block;
    position: absolute;
    width: 100%;
    border: solid 1px;
    background-color: white;
    border-radius: 15px;
    bottom: 0;

}
.card-comic:hover .show-chapter{
    margin: auto 15px;
    cursor: pointer;
}
