.bg{
    width: 100%;
    
}
.images img{
    width: 100%;
}
.bread_cumb{
    margin-top: 20px;
}
.content-truyen{
    margin-top: 10px;
}
.infortruyen{
    list-style: none;
}
.info{
    position: relative;
}
.view_infor{    
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    }

    @media (max-width: 567px)
    {
        .images{
            width: 300px;
            margin: 0 auto;
    
        }
        .info{
        }
        .view_infor{
            position: absolute;
            width: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .bg-text{
            position: relative;

        }
        
    }             